body {
  margin: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #004c97;
  padding: 15px 20px;
  position: sticky;
  top: 0;
}

.navbar .logo {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.navbar .menu a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
}

.navbar .menu a:hover {
  text-decoration: underline;
}

